---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="404" description="Die Seite nicht gefunden">
  <section class="my-12">
    <div class="container">
      <h1>404</h1>
    </div>
  </section>
  <section class="my-12">
    <div class="space-content container">
      <p class="text-2xl">
        Ui! Sowas haben wir noch nicht <span class="text-gradient font-bold"
          >erlebt</span
        >. Die Seite existiert leider nicht (mehr).
      </p>
      <a class="button" href="/">Zurück zu den bekannten Erlebnissen.</a>
    </div>
  </section>
</DefaultLayout>
