---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Über dieses Projekt" description="Über dieses Projekt">
  <section class="my-12">
    <div class="space-content container">
      <h1>Über dieses Projekt</h1>
      <section></section>
      <h2>Quellen</h2>
      <ul>
        <li>Mit Vergnügen</li>
        <li>Rausgegangen</li>
        <li>Newsletter Stadtbibliothek</li>
        <li>Events Facebook</li>
        <li>Events VHS</li>
        <li>Events Dumont</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="space-content container">
      <h2>Wie und womit habe ich diese Seite gebaut?</h2>
      <a href="https://docs.astro.build/en/getting-started/">Astro</a>
      <a href="https://www.netlify.com">Netlify</a>
      <a href="https://github.com/markteekman/accessible-astro-starter"
        >Accessibility Astro Starter</a
      >
      <a href="https://chat.openai.com">ChatGPT</a>
      <a href="http://www.koeln.de/tourismus/koeln_entdecken/111_orte"
        >111 Orte</a
      >
    </div>
  </section>
</DefaultLayout>
