---
const currentYear = new Date().getFullYear();
import { Icon } from "astro-icon/components";
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        <a
          href="https://github.com/markteekman/accessible-astro-starter"
          title="Go to the GitHub page"
        >
          <Icon name="ion:logo-github" />
        </a>
        &copy; {currentYear} Made with ❤️ by <a
          href="hhttps://twitter.com/browserperson">BrowserPerson</a
        >.
      </p>
    </div>
  </section>
</footer>
