---
const currentYear = new Date().getFullYear();
import { Icon } from "astro-icon/components";
---

<footer>
  <section class="py-8">
    <div class="container flex flex-row items-center">
      <a
        href="https://github.com/korneevamg/koeln-plus"
        title="Go to the GitHub page"
        class="pe-2"
      >
        <Icon name="ion:logo-github" />
      </a>
      <p>
        {currentYear} made with ❤️ by <a
          href="hhttps://twitter.com/browserperson">BrowserPerson</a
        >.
      </p>
    </div>
  </section>
</footer>
<style>
  [data-icon] {
    font-size: 2rem;
  }
</style>
